// Import Theme
//@import `../../scss/theme`;

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.console-content_inner {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;

    ul {
        padding-left: 10px;
        display: block;

        .console-list {
            display: block;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

