// Import Theme
//@import `../../scss/theme`;

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.console-container {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 10px #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .console-container_window-title {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 24px;
        font-size: 1.0rem;
    }

    .console-container_inner {
        margin: 0;
        padding: 5px;
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;

        .console-content {
            margin: 0;
            padding: 0;
            position:absolute;
            top: 24px;
            bottom: 24px;
            left: 0;
            width: 100%;
            overflow-y: scroll;
            text-align: left;
        }

        .console-input {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            form {
                .console-input_prefix {
                    position: absolute;
                    left: 10px;
                    color: black;
                }

                .console-input_input {
                    padding-left:24px;
                    width: 100%;
                    background-color: white;
                    color: black;
                    border: none;
                }
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

