// Import Theme
//@import `../../scss/theme`;

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

:global( .legend-hidden )
{
    display: none !important;
}

.console-legend_item {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;

    .legend-key {
        margin: 0;
        padding: 0;
        display: block;
        text-align: left;
        font-weight: 600;
        color: gray;
        cursor: pointer;

    }

    .legend-data {
        position: absolute;
        top: 0;
        left: -190px;
        margin: 0;
        padding: 10px;
        display: block;
        width: 186px;
        background: white;
        text-align: left;
        font-weight: 400;
        border: 1px solid #000;

        .legend-description_title {
            display: block;
            font-weight: 600;
            font-size: .80rem;
        }

        .legend-data_description {
            margin: 0;
            padding: 0;
            font-size: .75rem;
            font-weight: 400;
        }

        .legend-usage_title {
            display: block;
            font-weight: 600;
            font-size: .80rem;
        }

        .legend-data_usage {
            margin: 0;
            padding: 0;
            font-size: .75rem;
            font-weight: 400;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

