// Import Theme
//@import `../../scss/theme`;

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

:global(.directory-item) {

    margin: 0;
    padding: 0 10px;
    color: rgb(64, 157, 200);
    font-weight: 600;
}

:global(.file-item) {

    margin: 0;
    padding: 0 10px;
    font-weight: 400;
}

:global(.directory-item.symlink-item) {

    color: rgb(223, 137, 238) !important;
}

:global(.file-item.symlink-item) {

    color: rgb(14, 187, 141) !important;
}

:global(.error-item) {

    margin: 0;
    padding: 0;
    color: rgb(236, 65, 65);
    font-weight: 300;
}

:global(.directory-item:first-child) {
    padding: 0;
    padding-right: 10px;
}

:global( .directory-item:last-child) {
    padding: 0;
    padding-left: 10px
}

/*
:global(.directory-item.symlink-item) {
    color: rgb(50, 119, 151);
}
*/

:global(.file-item:first-child) {
    padding: 0;
    padding-right: 10px;
}

:global( .file-item:last-child) {
    padding: 0;
    padding-left: 10px
}

.console-list_item {
    display: block;
    width: 100%;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

